<!DOCTYPE html>
<html>
<head>
  <title>Stickies</title>
  <%= stylesheet_link_tag    'stickies', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<div id=spacing-for-footer></div>
<footer> 
  <div id=add-wrapper>
    <a id=add href="#">+</a>
  </div> 
  <div id=details>
    <div id=owner><%= @owner %></div>
    <div id=logo>Stickies</div>
  </div>
</footer>

</body>
</html>
